<div *ngIf="homeService.currentPage.value == 1">
  <p>This Week Forcast</p>
  <div class="flex justify-between outline- items-center p-5" *ngFor="let weekReport of weekForeCastList; let i = index"
    [ngClass]="i<6? 'border-b-2 border-b-slate-500':'' ">
    <p>{{weekReport.day}}</p>
    <img [src]="weekReport.widgetIconSrc" class="w-8 " alt="cloud image" />
    <p class="text-sm">{{weekReport.maxTemp}}/{{weekReport.minTemp}}</p>
  </div>
</div>

<div *ngIf="homeService.currentPage.value == 2">
  <app-city-detailed-weather-info></app-city-detailed-weather-info>
</div>

