<div class="rounded-xl bg-[#202B3B] p-4">
  <div class="pb-2">
    <p class="text-xl font-bold">Air Conditions</p>
  </div>
  <div class="grid grid-cols-2 px-4">
    <div class="col-span-1 justify-between">
      <div class="">
        <div class="flex gap-2">
          <img src="./assets/images/fluent--temperature-16-filled.png" class="w-6 " alt="temperature_img"/>
          <p class="text-sm">Real Feel</p>
        </div>
        <p class="text-xl ml-8">{{aircondition.temperature}}&deg;</p>
      </div>
      <div class="">
        <div class="flex gap-2">
          <img src="./assets/images/noto--droplet.png" class="w-4 " alt="cloud image"/>
          <p class="text-sm">Chance of rain</p>
        </div>
        <p class="text-xl ml-8">{{aircondition.chanceOfRain}}%</p>
      </div>
    </div>
    <div class="col-span-1 justify-between">
      <div class="">
        <div class="flex gap-2">
          <img src="./assets/images/wi--strong-wind.png" class="w-6 " alt="cloud image"/>
          <p class="text-sm">Wind speed</p>
        </div>
        <p class="text-xl ml-8">{{aircondition.windSpeed}} km/h</p>
      </div>
      <div class="">
        <div class="flex gap-2">
          <img src="./assets/images/meteocons--uv-index-fill.png" class="w-6 " alt="cloud image"/>
          <p class="text-sm">UV</p>
        </div>
        <p class="text-xl ml-8">{{aircondition.uvIndex}}</p>
      </div>
    </div>
  </div>
</div>
