<div class="h-full w-full rounded-xl bg-[#202B3B] p-4">
  <div class="pb-2">
    <p>Air Conditions</p>
  </div>
  <div class="grid grid-cols-2 px-4">
    <div class="col-span-1 justify-between">
      <div class="">
        <div class="flex gap-2">
          <img src="../../assets/images/wi--day-light-wind.png" class="w-6 " alt="cloud image"/>
          <p>Real Feel</p>
        </div>
        <p class="text-xl ml-8">34</p>
      </div>
      <div class="">
        <div class="flex gap-2">
          <img src="../../assets/images/wi--day-light-wind.png" class="w-6 " alt="cloud image"/>
          <p>Real Feel</p>
        </div>
        <p class="text-xl ml-8">34</p>
      </div>
    </div>
    <div class="col-span-1 justify-between">
      <div class="">
        <div class="flex gap-2">
          <img src="../../assets/images/wi--day-light-wind.png" class="w-6 " alt="cloud image"/>
          <p>Real Feel</p>
        </div>
        <p class="text-xl ml-8">34</p>
      </div>
      <div class="">
        <div class="flex gap-2">
          <img src="../../assets/images/wi--day-light-wind.png" class="w-6 " alt="cloud image"/>
          <p>Real Feel</p>
        </div>
        <p class="text-xl ml-8">34</p>
      </div>
    </div>
  </div>
</div>
