<div class="p-2 overflow-auto">
    <div *ngFor="let cityInfo of homeService.pastCitySearchList.reverse()">
        <div class="w-full rounded-xl bg-[#202B3B] p-5 gap-4 flex flex-row justify-between my-3">
            <div class="flex flex-row gap-5">
                <img [src]="cityInfo.iconSrc" alt="image" />
                <div class="flex flex-col">
                    <h3>{{cityInfo.cityName}}</h3>
                    <p>{{cityInfo.time}}</p>
                </div>
            </div>
            <p>{{cityInfo.temperature}}&deg;</p>
        </div>
    </div>
</div>