<div class="h-full flex  grid-cols-2 p-10 justify-between">
  <div class="bg-[#202B3B] rounded-md flex justify-center items-center h-full text-black col-span-1 w-full">
    <img src="../../assets/images/dashboard_image-removebg-preview.png" />
  </div>
  <div class="h-full flex justify-center rounded-md items-center col-span-1 w-full flex-col space-y-4">
    <!-- <span class="icon-[wi--day-light-wind]" style="width: 30px; height: 30px; color: white;"></span> -->
    <img src="../../assets/images/wi--day-light-wind.png" class="w-16" alt="cloud image"/>
    <h1 class="text-5xl">BreezeWatch</h1>
    <h3 class="text-3xl">Weather App</h3>
    <button class="bg-[#0095FF] text-white text-sm p-3 px-5 rounded-3xl" (click)="openWeatherApp($event)">Get Started</button>
  </div>
</div>
